/* font-family: 'Open Sans', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Pacifico&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

.container-page-1{
    margin: 0%;
    padding: 0%;
    background-image: url("./images/page-1-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 720px;
}

.sub-container{
    width: 900px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    height: 80px;
}
.nav-head{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* .nav-list li{
     padding: 10px 15px; 
} */
.nav-list li a{
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
}
.nav-list li a:hover{
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 4px;
}

.page-1-content-container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.page-1-content{
    padding-bottom: 40px;
}

.page-1-content h1{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 55px;
    padding-bottom: 30px;
}
.page-1-content p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
}
.buttons{
    padding-bottom: 100px;
}
.btn{
    border: none;
    border-radius: 4px;
    padding: 13px 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
#lm1:hover{
    background-color: rgba(50, 49, 55, 0.637);
}
#lm2:hover{
    background-color: rgba(122, 122, 150, 0.685);
}
#lm1{
    background-color: rgb(115 136 171 / 70%);
}
#lm2{
    background-color: rgb(35 38 97 / 70%);
}



/* //Page 2 */

.container-page-2{
    margin: 0%;
    padding: 0%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-page-2 h1{
    padding-top: 80px;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}
.page-2-content-container{
    padding-top: 50px;
    width: 900px;
    margin: 0 auto;
}
.content-part-1 p{
    font-family: 'Open Sans', sans-serif;
    width: 60%;
    font-size: 20px;
}
.p2-cp1-image-container{
    width: 40%;
}
.p2-cp1-image-container img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}
.content-part-1{
    display: flex;
    flex-direction: row;
}



.content-part-2{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sub-cp2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 25%;
}
.sub-cp2 h2{
    margin-top: 30px;
    font-size: 20px;
}
.sub-cp2 p{
    margin: 10px 20px ;
    font-size: 15px;
}
.sub-cp2 img{
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

.page-2-btn{
    padding: 10px 20px;
    margin: 10px 50px 50px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgba(3, 9, 20, 0.925);
}
.page-2-btn:hover{
    background-color: rgba(3, 9, 20, 0.651);
}

/* Page 3// */


.container-page-3{
    margin: 0%;
    padding: 0%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-page-3 h1{
    padding-top: 80px;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

.page-3-content-container{
    padding-top: 50px;
    width: 100%;
}
.page3-content{
    display: flex;
    flex-direction: row;
}
.content {
    width: 25%;
    font-family: 'Open Sans', sans-serif;
}
.content img{
    width: 100%;
    margin: 0%;
}
.content a{
    text-decoration: none;
    color: black;
}
.content h2{
    padding-bottom: 10px;
}
.content p{
    padding-bottom: 20px;
}
.content button{
    padding: 15px 25px;
    font-weight: bold;
    font-size: 10px;
    border: none;
    border-radius: 4px;
}
.content button:hover{
    color: white;
    background-color: indigo;
}
.content-disc{
    margin: 0;
    padding: 30px 30px 30px 30px;
}
.content:hover {
    background-color: rgb(253, 237, 11);
}

.p3c-1, .p3c-3{
    background-color: rgba(128, 128, 128, 0.733);
}
.p3c-2, .p3c-4{
    background-color: rgb(128, 128, 128);
}



/* // page 4 // */


.container-page-4{
    margin: 0%;
    padding: 0%;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    height: 500px;
}

.container-page-4 h1{
    padding-top: 80px;
    padding-bottom: 10px;
    font-size: 50px;
}
.container-page-4 h2{
    padding-bottom: 10px;
    font-size: 25px;
}
.container-page-4 h3{
    padding-bottom: 10px;
    font-size: 17px;
}

.page-4-content-container{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.page-4-btn{
    margin-top: 20px;
    padding: 15px 35px;
    font-weight: bold;
    font-size: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(253, 237, 11);
}
.page-4-btn:hover{
    color: white;
    background-color: indigo;
}


/* // page 5// */
.container-page-5{
    margin: 0%;
    padding: 0%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    height: 300px;
    background-image: url("./images/page-5-s.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.container-page-5 h1{
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 40px;
    color: white;
    font-weight: 900;
}
.container-page-5 input{
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 4px;
}
.page-5-btn{
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 4px;
    background-color: #fdef76;;
}
.page-5-btn:hover{
    color: white;
    background-color: rgba(3, 9, 20, 0.651);
}


/* //  page 6// */
.container-page-6{
    margin: 0%;
    padding: 0%;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.container-page-6 h1{
    padding-top: 80px;
    padding-bottom: 10px;
    font-size: 50px;
}
.page-6-content-container{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.sub-cp6{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 25%;
}
.sub-cp6 h2{
    margin-top: 30px;
    font-size: 20px;
}
.sub-cp6 p{
    margin: 10px 20px ;
    font-size: 15px;
}
.sub-cp6 img{
    height: 120px;
    width: 220px;
    margin: 0 auto;
}

.page-6-btn{
    padding: 10px 20px;
    margin: 10px 50px 50px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgba(3, 9, 20, 0.925);
}
.page-6-btn:hover{
    background-color: rgba(3, 9, 20, 0.651);
}


/* ///page - 7// */


.container-page-7{
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-image: url(./images/page-7-i.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 720px;
    color: white;
}

.container-page-7 h1{
    padding-top: 80px;
    padding-bottom: 10px;
    font-size: 50px;
}

.page-7-content-container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
.page-7-content-container p{
    padding-top: 10px;
    padding-bottom: 5px;
}
.page-7-content-container input{
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 4px;
}
.page-7-content-container textarea{
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 4px;
}

